<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="AshStudio" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white text-zinc-900">
    <header class="">
      <.navbar id="main-nav" variant="default" color="natural">
        <:start_content>
          <.link navigate="/" class="flex items-center space-x-3 rtl:space-x-reverse mb-5 md:mb-0">
            <img
              src="https://ash-hq.org/images/ash_logo_orange.svg"
              class="hidden dark:block size-10"
            />
            <img src="https://ash-hq.org/images/ash_logo_orange.svg" class="dark:hidden size-10" />
            <h1 class="text-xl font-semibold">
              Ash Studio
            </h1>
          </.link>
        </:start_content>
      </.navbar>
    </header>

    {@inner_content}
  </body>
</html>
